<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorteo</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
    <div class="container">
        <img src="" alt="">
    </div>
    <div class="container">
        <h1 class="text-center mb-4"><img src="../static/IFDC.jpg" alt="">IFDC María Inés Elizalde</h1>
        <h2 class="text-center mb-4">Realizar Sorteo</h2>
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="archivo" class="form-label">Subir archivo Excel:</label>
                <input type="file" class="form-control" id="archivo" name="archivo" accept=".xlsx" required>
            </div>
            <div class="mb-3">
                <label for="pre_inscriptos" class="form-label">Cantidad de Preinscritos:</label>
                <input type="number" class="form-control" id="pre_inscriptos" name="pre_inscriptos" value="60" min="1" required>
            </div>
            <div class="mb-3">
                <label for="reservas" class="form-label">Cantidad de Reservas:</label>
                <input type="number" class="form-control" id="reservas" name="reservas" value="20" min="1" required>
            </div>
            <button type="submit" class="btn btn-primary">Realizar Sorteo</button>
        </form>
    </div>
</body>
</html>